.slider h3,
.slider h5{
	text-shadow: 2px 2px 4px rgba(0,0,0,1);
}

/*.container img{
	height: 20px;
}*/

.parallax-container{
	height: 400px;
}

.clients h3{
	text-shadow: 2px 2px 4px rgba(0,0,0,1);
}

.parallax img{
	filter: grayscale(1);
	opacity: 0.5 !important;
}

section, footer{
	padding: 20px 0;
}

